.btn-group-sm > .btn, .btn-sm {
    padding: 0.25rem 4.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
  }
  .lien{
    margin-left: 3%;
    
  }
  .li{
    margin-left:-4%;
  }
  .li1{
    margin-top: 9%;
  }
  .texte{
    text-align: center;
    margin-top: 2%;
  }
  .li3{
    margin-top: 4%;
  }
  .li4{
    margin-top: 5%;
  }
        
    body {
    font-family:Circular_std_bold;
    }
    .navbar-toggler {
      padding: .25rem .75rem;
      font-size: 1.25rem;
      line-height: 1;
      border: 2px solid #005CA5;
      border-radius: .25rem;
      color: #005CA5;
    }
  .navbar-nav{
    margin-left: 9%;
  }
  .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 2.5rem;
  }
  a {
      color: #000;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 0.5rem;
  }
  a:hover{
  color: #005CA5;
  
}
.droite{
  color:white;
  background-color:#005CA5;
   margin-right: 2%; 
}
button, input, optgroup, select, textarea {
  margin: 6px;
  margin-top: -4%;
}
/* .navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  margin-left: 7%;
} */
.gauche{
  color:#005CA5;
  background-color:white;
  border-color:#005CA5 ;
}
.btn:hover {
color: #fff;
}
.gauche .btn:hover {
  color: #005CA5;
}

.boutton{
  margin-top: 5%;
}
.partie3{
  display: flex;
  margin-top: -4%;
}
/* .card-deck{
  margin-top: 9%;
  margin: 12%;
} */
.titre{
  text-align: center;
}
.image{
  display: contents;
  text-align: center;
}


.obt{
  margin-top: 2%;
  color: white;
}
.obt1{
  color: white;
}
.ml-4, .mx-4 {
  margin-left: 3.5rem !important;
}


.reserver{
  color:white;
  background-color:#005CA5;
  margin-top: 6%;

}
.reserver1{
  color:white;
  background-color:#005CA5;
  margin-top: 3%;

}
.btn-primary:hover {
  color: #fff;
  background-color: #005CA5;
  border-color: #005CA5;
}
.detail{
  color:#005CA5;
  background-color:white;
  border-color:#005CA5

}
.reserver2{
  color:white;
  background-color:#005CA5;
 

}
body{width:100%;}
.btn-secondary:hover {
  color: #fff;
  background-color:#005CA5;
    border-color:#005CA5;
}